@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


main{
    color: rgb(71, 57, 48);
    font-family: "Caveat", cursive;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
 
    padding: 1rem;
    

    & *{
        grid-column: 2;

    }

}

h1, h2{
    font-size: 2rem;
}
li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    list-style-type:none;

}

input {
    border: none;          
    padding: 0.2rem;            
    margin: 0;             
    outline: none;       
    box-shadow: none;      
    border-radius: 0.2rem;  
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

button{
    border: none;
    background-color: #594A42;
    color: white;
    border-radius: 0.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    cursor: pointer;
}

button:hover{
    background-color: #7D6F64;
}



.to_do_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: tan;
    border-radius: 0.5rem;
    padding: 1.5rem;
    position: relative;

    &>:last-child{
        align-self: center;

    }

}

.done_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(183, 169, 152);
    border-radius: 0.5rem;
    padding: 1.5rem;
    min-height: 4rem;

}

ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}


section{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(71, 57, 48);
    border-radius: 1.2rem;
    padding:5rem;
    background-color: rgb(249, 234, 215);
    gap: 4rem;
    position: relative;
}

section::before{  
    background-image: url(/public/imgs/clip1.png);
    position: absolute;
    content: "";
    height: 6.8rem;
    width: 6.7rem;
    scale: 0.8;
    z-index: 2;
    top:-2rem;
    left: -2rem;
}


.add_task{
    display: flex;
    gap: 1.5rem;
    align-items: flex-end;
}


.add_icon{
    align-self: center;
    background-image: url(/public/imgs/add_icon.svg);
    width: 2rem;
    height: 2rem;
}


.add_icon:hover{
   scale: 1.2;
   cursor: pointer;
}

.hidden{
    display: none;
    
}

.flex_row{
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    &>:first-child{
        display: flex;
        gap: 0.7rem;
    }
}

.icons{
      display: flex;
      gap: 1rem;

}

.delete_icon{
    background-image: url(/public/imgs/delete_icon.svg);
    width: 1rem;
    height: 1.4rem;
}

.delete_icon:hover{
    scale: 1.2;
    cursor: pointer;
}


.checkmark_icon{
    background-image: url(/public/imgs/undone_icon.svg);
    width: 1.4rem;
    height: 1.4rem;
}

.checkmark_icon:hover{
    background-image: url(/public/imgs/done_icon.svg);
    cursor: pointer;
}

.checked{
        background-image: url(/public/imgs/done_icon.svg);

}

.checked:hover{
    background-image: url(/public/imgs/undone_icon.svg);


}

#task_quantity{
    font-family: 'Courier New', Courier, monospace;
}