@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


main{
    color: rgb(71, 57, 48);
    font-family: "Caveat", cursive;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 2px solid black;
    border-radius: 1.2rem;
    padding: 1rem;
    

    & *{
        grid-column: 2;
    }


}

h1{
    font-size: 3.5rem;
}
li{
    font-size: 1.1rem;

}



.to_do_box{
    background-color: tan;
    border-radius: 0.5rem;
    padding: 1.5rem;

}

.done_box{
    background-color: rgb(183, 169, 152);
    border-radius: 0.5rem;
    padding: 1.5rem;

}

section{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}